# see: https://docs.github.com/code-security/reference/supply-chain-security/dependabot-options-reference
version: 2
updates:
  # GitHub Actions (/.github/workflows/*.yml)
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
      time: '19:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    reviewers:
      - ddradar/action-maintainer
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: ci(gh-actions)

  # npm/yarn (/**/package.json)
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      time: '18:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      tsconfig:
        dependency-type: development
        patterns:
          - '@tsconfig/*'
      oxc:
        dependency-type: development
        patterns:
          - oxfmt
          - oxlint
          - oxlint-tsgolint
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - version-update:semver-major
    reviewers:
      - ddradar/action-maintainer
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: chore
      prefix-development: chore
      include: scope
    open-pull-requests-limit: 10

  # Development Containers (/.devcontainer/devcontainer.json)
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: daily
      time: '19:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    labels:
      - 'dependabot :robot:'
    commit-message:
      prefix: chore(devcontainer)
