name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Add Major & Minor Git Tag
    if: github.event.release.prerelease == false
    runs-on: ubuntu-slim
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Get Major & Minor version
        id: version
        run: |
          echo "major=$(echo ${{ github.event.release.tag_name }} | cut -d. -f1)" >> $GITHUB_OUTPUT
          echo "minor=$(echo ${{ github.event.release.tag_name }} | cut -d. -f2)" >> $GITHUB_OUTPUT

      - name: Push Git Tag (Major, Minor)
        run: |
          git config user.name  ${{ vars.GH_ACTIONS_COMMIT_NAME }}
          git config user.email  ${{ vars.GH_ACTIONS_COMMIT_EMAIL }}
          git tag ${{ steps.version.outputs.major }}
          git tag ${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}
          git push --tags --force
